.popup_opened {
  display: flex;
  justify-content: center;
  align-items: center;
  /*препятствует плавному открытию (разобраться в след. спринте)*/
  /*visibility: visible; /*плавное открытие
  opacity: 1;
  transition: .2s;*/
}